@media screen and (max-width:427px) {
    .nav-items,.nav-container,.main-container,.online-container,
     .play-container,.more-games,.footer-content ul{
        flex-direction: column;
    }
    .nav-container{
        width:50%;
        margin: 0px auto;
    }
    .nav-items{
        padding-left: 50px;
    }
    .nav-items a{
        margin-top: 10px;
    }
    .follow{
        margin-top: 10px;
    }
    .main-container{
        width: 100%;
        margin: 0px auto;
    }
    .main-content{
        padding-left: 85px;
        width: 80%;
    }
    .main-content button{
    margin-right: 10px;
    }
    .benner-img img{
        width: 100%;
    }
    .benner-img{
        width: 100%;
        margin-top: 50px;
    }
    .online-container{
        grid-template-columns: 1fr;
    }
    .online-container .card{
        margin-top: 20px;
    }
    .play-zone{
        width: 100%;
        
    }
    .play-zone h2{
        text-align: center;
        margin-top: -70px;
    }
    .play-zone p{
        text-align: center;
    }
    .img-zone{
        width:100%;
        margin-top: 50px;
    }
    .main-img img{
        width: 75%;
    }
    .background-img img{
        width: 50%;
        bottom: 150px;
    }
    .more-games{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .footer-content ul{
        grid-template-columns: repeat(3,1fr);
    }
   
    footer{
        height: 100%;
    }
    .title-des {
       margin-left: 50px;
    }
    footer .copyright{
        padding-bottom: 50px;
    }
    
}

  @media screen and (min-width:430px) and (max-width:992px){
    .main-container,.play-container{
        flex-direction: column;
    }
    .benner-img img{
        width: 60%;
  }
  .benner-img{
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
}
.play-zone{
    width: 100%;
    
}
.play-zone h2{
    text-align: center;
    margin-top: -70px;
}
.play-zone p{
    text-align: center;
}
.img-zone{
    width:100%;
    margin-top: 50px;
}
.main-img img{
    width: 75%;
}
.background-img img{
    width: 40%;
    bottom: 250px;
}
  
}