@media screen and (max-width:427px) {
    .nav-items,.nav-container,.main-container,.online-container{
        flex-direction: column;
    }
    .nav-container{
        width:50%;
        margin: 0px auto;
    }
    .nav-items{
        padding-left: 50px;
    }
    .nav-items a{
        margin-top: 10px;
    }
    .follow{
        margin-top: 10px;
    }
    .main-container{
        width: 100%;
        margin: 0px auto;
    }
    .main-content{
        padding-left: 85px;
        width: 80%;
    }
    .main-content button{
    margin-right: 10px;
    }
    .benner-img img{
        width: 100%;
    }
    .benner-img{
        width: 100%;
        margin-top: 50px;
    }
    .online-container{
        grid-template-columns: 1fr;
    }
    .online-container .card{
        margin-top: 20px;
    }
}

  @media screen and (min-width:430px) and (max-width:992px){
    .main-container{
        flex-direction: column;
    }
    .benner-img img{
        width: 60%;
  }
  .benner-img{
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
}
  
}